---
/* eslint max-lines: 'off' */

import { asset } from '../lib/data';

---

<div class="px-4 pt-6">
	<div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
		<!-- Input -->
		<div
			class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
		>
			<div class="flex items-center justify-between mb-4">
				<div class="flex-shrink-0">
					<span
						class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white"
						>Input</span
					>

<!-- Drop area -->
<div id="drop-area" class="flex flex-col justify-center items-center w-full h-full mt-4 p-4 bg-gray-50 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer dark:bg-gray-700 dark:border-gray-600">
	<i class="fas fa-upload fa-3x text-gray-500 dark:text-gray-300"></i>
	<p class="text-gray-500 dark:text-gray-300 mt-2">Drop your talking videos here</p>
	<input type="file" id="fileElem" multiple accept="video/*" class="hidden" onchange="handleFiles(this.files)">
</div>



				</div>

			</div>

			<!-- NOTE: Charts could be extracted to a generic UI component -->


		</div>
		<!-- Output -->
		<div
			class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
		>
		<div class="flex-shrink-0">
			<span
				class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white"
				>Output</span
			>

		</div>

		</div>
	</div>
</div>

<script>
	import './DashBoard.client.js';
</script>

<style is:global>
	/* chart styles */
	.apexcharts-tooltip {
		@apply bg-white dark:bg-gray-700 text-gray-500 dark:text-gray-400 border-0 rounded-lg shadow-lg !important;
	}

	.apexcharts-tooltip .apexcharts-tooltip-title {
		@apply py-2 px-4 bg-gray-100 dark:bg-gray-600 border-b border-gray-200 dark:border-gray-500 !important;
	}

	.apexcharts-xaxistooltip {
		@apply text-gray-500 border-0 bg-white dark:bg-gray-700 dark:text-gray-300 rounded-lg shadow-lg !important;
	}

	.apexcharts-tooltip .apexcharts-tooltip-text-y-value {
		@apply dark:text-white;
	}

	.apexcharts-xaxistooltip-text {
		@apply font-medium text-sm !important;
	}

	.apexcharts-xaxistooltip:before,
	.apexcharts-xaxistooltip:after {
		@apply border-0 !important;
	}
</style>
