<p class="my-10 text-sm text-center text-gray-500">
	Built with ❤️ by <a href="https://assembo.ai/" class="hover:underline" target="_blank"
		>Assembo.ai</a
	>. All rights reserved. &copy; {new Date().getFullYear()}
</p>
